params {
    regions = false
    outdir = false
    filter_features = false // Optional, comma-delimited list of features to use for clustering
    resolution = 1.0 // Used for cell type clustering (leiden)
    n_neighbors = 15 // Used for clustering and neighborhood analysis
    n_neighborhoods = 10 // Used for neighborhood analysis

    // Parameters for reading data from stardist outputs
    measurement_type = "Cell.Mean" // Which measurement to use

    // Optionally turn off the compilation of dashboard visualizations from input spatialdata.zarr files
    use_dashboards = false

    // Parameters for reading sequencing-based datasets (e.g., 10x Genomics)
    min_reads_per_cell = 10 // Filter out cells with fewer reads
}

process {
    container = "public.ecr.aws/cirrobio/python-utils:e3e173f"
    cpus = { 4 * task.attempt } 
    memory = { 64.GB * task.attempt }
    withName: cluster_points {
        cpus = { 4 * task.attempt } 
        memory = { 64.GB * task.attempt }
    }
    withName: integrate_measurements {
        container = "scverse/scvi-tools:py3.11-cu11-tutorials-latest"
    }
}