params {
    regions = false
    outdir = false
    resolution = 1.0 // Used for cell type clustering (leiden)
    n_neighbors = 15 // Used for neighborhood analysis
    n_neighborhoods = 10 // Used for neighborhood analysis
}

process {
    container = "769915755291.dkr.ecr.us-west-2.amazonaws.com/python-utils:e3e173f"
}